#mainCvContainer{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#showOrHideButton{
    width: 60%;
}
#showOrHideButton:hover{
    cursor: pointer;
}

#buttonDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
