#mainMobileContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mobilePictureContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.images{
    height: auto;
    max-width: 100%;
}


#navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100%;
}

.imageAndTextContainerMobile{
    width: 90%;
    height: auto;
}
