#mainDesktopContainer {
	display: flex;
	flex-direction: column;
}
#firstPictureContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 150px;
}

.pictureContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 150px;
}

.desktopImages {
	height: auto;
	width: 100%;
}

.imageAndTextContainer {
	height: auto;
	width: 40%;
}