#mainNavContainer{
    min-width: 40%;
}

#linkContainer{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50px;
    left:50px;
}

.navLinks:hover{
    text-decoration: underline;
}
